
  <section class="text-center py-6 bg-gray-100 dark:bg-gray-800 rounded-lg mb-4">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white mb-2">Bienvenido a TechStore</h1>
    <p class="text-sm text-gray-700 dark:text-gray-300 mb-3">
      Encuentra los mejoresd productos electrónicos aquí. ¡Explora nuestras categorías y encuentra lo que necesitas!
    </p>
  </section>


  <!-- Llamamos al componente de categorías con un contenedor atractivo -->
  <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="col-span-full">
      <app-categories></app-categories>
    </div>
  </section>
